<div class="container">
	<div ng-bind="npc.gebdat"></div>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-1 control-label">SVNR</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="npc.svnr" ng-minlenth="4" ng-maxlength="4">
			</div>
			<label class="col-sm-1 control-label">Geb.Dat.</label>
			<div class="col-sm-2">
				<input class="form-control" type="date" ng-model="npc.gebdat">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">Vorname</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="npc.vorname">
			</div>
			<label class="col-sm-1 control-label">Nachname</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" ng-model="npc.nachname">
			</div>
		</div>
	</form>

</div>